body {
	margin: 0 auto;
	max-width: 50em;
	line-height: 1,3;
	padding: 4em 2em;
	background-color: #000000;
	font-stretch: expanded;	
	color: #cccccc;
}

h1 {
	
	font-family: 'Courier', 'Courier New', 'monospace';
	font-weight: bolder;
	font-size: 120px;
	
	letter-spacing: -12px;
	color:#000000;
}

h2 {
	font-family: 'Courier', 'Courier New', 'monospace';
	font-size: 50px;
	text-transform: lowercase;
	text-align: center;
	top: 50%;
	letter-spacing: 10px;
}
	

h3 {
	color: #000000;
	font-family: 'Courier', 'Courier New', 'monospace';
	font-size: 24px;
	font-weight: bolder;
	text-transform: uppercase;
	text-indent: 20px;
	letter-spacing: 20px; 
}

h4 {
	color: #cccccc;
	font-family: 'Courier', 'Courier New', 'monospace';
	font-size: 24px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 20px;
}
	

p {
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 1.5;
	color: #FFFFFF;
}


p.outset {
	border-left: 5px solid red;
}

p.outsetv {
	border-right: 5px solid red;
	text-align: right;
}

p.error {
	color: red;
}

p.mini {
	font-size: 10px;
}

.left {
	text-align: left;
}

.table {
	width: 90%;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.td {
	vertical-align: text-top;
	text-align: left;
	font-size: 14px;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	padding: 5px;
	margin: 5px;
	width: 25%;
}

.tdright {
	text-align: right;
	font-size: 14px;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.tditems {
	vertical-align: text-top;
	text-align: left;
	font-size: 14px;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	padding: 5px;
	margin: 5px;
	width: 75%;
	border-bottom: dotted grey 1px;
}

.th {
	vertical-align: text-top;
	text-align: left;
	letter-spacing: 2px;
	background-color: #333333;
	color: #7e7e7e;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.inputlogin {
	width: 200px;
}

.sendform {
	width: 600px;
}

.textbox {
	width: 600px;
	height: 100px;
}

.button {
  background-color: #7e7e7e;
  border: none;
  color: black;
  font-family: 'monospace';
  font-size: 10px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 250px;
  left: 250px;
  background: black;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 9599;
  font-weight: bolder;
  width: 210px;
  height: 600px;
  justify-content: center;
  align-items: center;
  outline: 3px solid red;
}

:target.popup {
  display: block;
}

.error-box {
  background: #ffdddd;
  border: 4px solid red;
  padding: 0px;
  margin: 0px 0;
  color: #a00000;
  border-radius: 5px;
}


a:link, a:visited {
	text-decoration: none;
  	color: #777777;
}
a:hover, a:active {
	color: #777777;
}

.vaakaviiva {
	border-bottom: 5px solid red;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
}

.linkit {
	top: 130px;
	left: 60px;
	position: absolute;
	width: 750px;
}

.kayttaja {
	top: 10px;
	left: 60px;
	text-align: right;
	position: absolute;
	width: 750px;
}


.hakukentta {
	top: 80px;
	left: 60px;
	position: absolute;
	width: 750px;
	padding: 0px;
	margin: 10px;
	margin-right: 20px;
}

.paapalkki {
	width: 750px;
	height: 100%;
	left: 60px;
	top: 170px;
	text-align: left;
	position: absolute;	
}

.paapalkkiheader {
	width: 100%;
	background-color: #cccccc;
	border: solid 5px #cccccc;
	border-radius: 5px;
	padding: 0px;
}

.paapalkkicontainer {
	width: 100%;
	background-color: #1a1a1a;
	border: 5px solid #1a1a1a;
	border-radius: 5px;
	height: auto;
	padding: 0px;
}

