body {
	margin: 0 auto;
	max-width: 50em;
	line-height: 1,3;
	padding: 4em 2em;
	background-color: #000000;
	font-stretch: expanded;	
}

h1 {
	
	font-family: "Times New Roman";
	font-weight: lighter;
	font-size: 120px;
	text-transform: lowercase;
	letter-spacing: -12px;
	color:#a2d1c5;
}


h2 {
	color: #6396A9;
	font-family: "Times New Roman";
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	top: 50%;
	letter-spacing: 20px;
}
	

h3 {
	color: rgb(47, 37, 0);
	font-family: "Times New Roman";
	font-size: 16px;
	text-transform: uppercase;
	line-height: 3;
}
	

p {
	color: #cbcbcb;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 12px;
	letter-spacing: 3px; 
}

.ptummatausta {
	color: #cbcbcb;
	font-size: 14px;
	a:link, a:visited {
		text-decoration: none; 
		color: #a2d1c5;
	}
}

.pleveateksti {
	letter-spacing: 10px;
	color: #cbcbcb;
	font-size: 16px;
	a:link, a:visited {
		text-decoration: none; 
		color: #a2d1c5;
	}
	
	a:hover, a:active {
	color: #a2d1c5;
	}
}

.headerotsikko {
	color: #F4F4F4;
	text-align: left;
	line-height: 0%;
}

.logoleveys {
	width: 300px;
}

.ylhaalla {
	vertical-align: top;
}

.keskella {
	text-align: center;
}

.alhaalla {
	vertical-align: bottom;
}

.ylhaallaoikealla {
	vertical-align: top;
	text-align: right;
	padding-right: 150px;
}

a:link, a:visited {
	text-decoration: none;
  	color: #a2d1c5;
}

a:hover, a:active {
	color: #a2d1c5;
}

table {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: 0px;
	border: 0px dashed black;
}

td {
	border: 0px dashed black;
}

.opaque {
	color: rgba(37, 37, 0, 0.3)
}

.opaque2 {
	color: rgba(37, 37, 0, 0.15)
}

.ylapalkki {
	width: 88%;
	height: 100px;
	padding: 10px;
	margin: 0px;
	top: 0px;
	left: 10%;
	position: absolute;
	
}

.vasenpalkki {
	width: 5%;
	height: auto;
	padding: 10px;
	margin: 0px;
	top: 220px;
	left: 0px;
	text-align: left;
	position: absolute;
}

.paapalkki {
	width: 80%;
	height: 100%;
	padding: 10px;
	margin: 10px;
	border-radius: 100px;
	left: 10%;
	top: 150px;
	text-align: left;
	position: absolute;	
}

.paapalkkicontainertumma {
	width: 90%;
	background-color: rgba(0, 255, 195, 0.889);
	border-radius: 5px;
	height: auto;
	padding: 10px;
	margin: 5px;
}

.paapalkkicontainervaalea {
	width: 90%;
	background-color: rgba(200, 255, 240, 0.27);
	border-radius: 5px;
	height: auto;
	padding: 10px;
	margin: 5px;
}

