body {
	margin: 0 auto;
	max-width: 50em;
	line-height: 1,3;
	padding: 4em 2em;
	background-color: rgba(77, 77, 0, 0.1);
	font-stretch: expanded;
	
}

h1 {
	
	font-family: "Times New Roman";
	font-weight: lighter;
	font-size: 120px;
	text-transform: lowercase;
	letter-spacing: -12px;
}


h2 {
	color: #6396A9;
	font-family: "Times New Roman";
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	top: 50%;
	letter-spacing: 20px;
}
	

h3 {
	color: rgb(47, 37, 0);
	font-family: "Times New Roman";
	font-size: 16px;
	text-transform: uppercase;
	line-height: 3;
}
	

p {
	color: #395F5F;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 12px;
	letter-spacing: 2px; 
}

.ptummatausta {
	color: #F3F8FB;
	font-size: 14px;
	a:link, a:visited {
		text-decoration: none; 
		color: #E0E2DE;
	}
}

.pleveateksti {
	letter-spacing: 10px;
	color: #F3F8FB;
	font-size: 16px;
	a:link, a:visited {
		text-decoration: none; 
		color: #E0E2DE;
	}
	
	a:hover, a:active {
	color: #F7F9F6;
	}
}

.headerotsikko {
	color: #F4F4F4;
	text-align: left;
	text-shadow: 2px 2px #686868;
	line-height: 0%;
}

.logoleveys {
	width: 300px;
}

.ylhaalla {
	vertical-align: top;
}

.keskella {
	text-align: center;
}

.alhaalla {
	vertical-align: bottom;
}

.ylhaallaoikealla {
	vertical-align: top;
	text-align: right;
}

a:link, a:visited {
	text-decoration: none;
  	color: #506E7D;
}

a:hover, a:active {
	color: #658EA2;
}

table {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: 0px;
	border: 0px dashed black;
}

td {
	border: 0px dashed black;
}

.opaque {
	color: rgba(37, 37, 0, 0.3)
}

.opaque2 {
	color: rgba(37, 37, 0, 0.15)
}

.ylapalkki {
	width: 100%;
	height: 230px;
	padding: 10px;
	margin: 0px;
	top: 0px;
	left: 0px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	
	
}

.vasenpalkki {
	width: 140px;
	height: 120%;
	padding: 10px;
	margin: 0px;
	top: 220px;
	left: 0px;
	text-align: left;
	position: absolute;
	

}

.paapalkki {
	width: 70%;
	height: 100%;
	padding: 40px;
	margin: 0px;
	border-radius: 100px;
	left: 160px;
	top: 220px;
	text-align: left;
	position: absolute;
	
}

