
<!DOCTYPE html>
<html>

<head>
  <title>Esineen poisto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!-- Kirjautumispalkki -->
<div id="login" class="popup">
  <table class="table">
    <tr>
      <td class="tdright">
        <a href="#" class="close">sulje</a>
      </td>
    </tr>
    <tr>
      <td>
        <p class="outset">&nbsp; kirjautuminen</p>
        <br>

        <form action="/login" method="post">
          <p>
            Tunnus:<br>
            <input type="text" name="username" class="inputlogin">
          </p>
          <p>
            Salasana:<br>
            <input type="password" name="password" class="inputlogin">
          </p>
          <p>
            <input type="submit" class="button" value="Kirjaudu">
          </p>
        </form>

      </td>
	</tr>
  </table>
</div>


<!-- Rekisteröitymispalkki -->
<div id="register" class="popup">
	<table class="table">
		<tr>
			<td class="tdright">
				<a href="#" class="close">sulje</a>
			</td>
		</tr>
		<tr>
			<td class="td">
				<p class="outset"> &nbsp; rekisteröidy
				</p>
				<br>
				<form action="/create" method="post" >
					<p>
						Tunnus: <br />
						<input type="text" name="username" class="inputlogin"/>
					</p>
					<p>
						Salasana: <br />
						<input type="password" name="password1" class="inputlogin" />
					</p>
					<p>
						Salasana uudestaan: <br />
						<input type="password" name="password2" class="inputlogin" />
					</p>
						<input type="submit" value="Luo tunnus" class="button" />
				</form>
			</td>
		</tr>
	</table>
</div>

<!-- Käyttäjä -->
<div class="kayttaja">
	{% if session.username %}
		<p class="outsetv">
			{{ session.username}} &nbsp;
		</p>
	{% endif %}
	{% if error %}
		<div class="error-box">
			<p class="error">
				{{ error }} &nbsp;
			</p>
		</div>
	{% endif %}
	{% for message in get_flashed_messages() %}
	<div class="error-box">
		<p class="error">
		{{ message }} &nbsp;
		</p>
	</div>
  {% endfor %}
</div>

<!-- Linkit -->

<div class="linkit">
	<table class="table">
		<tr>
			<td class="td">
				<p class="outset">&nbsp; <a href="/"> etusivu</a>
				</p>
			</td>
				{% if session.username %}
			<td class="td">
				<p class="outset">&nbsp; <a href="/user/{{ session.user_id }}"> oma sivu</a>
				</p>
			</td>


			<td class="td">
			<p class="outset"> &nbsp;
				<a href="/new_item">lisää esine</a>
			</p>
			</td>

			<td class="td">
					<p class="outset">&nbsp; <a href="/logout">kirjaudu ulos</a>
					</p>
			</td>
			<td>
			</td>
				{% else %}
			<td class="td">
					<p class="outset">&nbsp; <a href="/#login">kirjaudu</a>
					</p>
			</td>
			<td class="td">
					<p class="outset">&nbsp; <a href="/#register">rekisteröidy</a>
					</p>
			</td>

				{% endif %}
			</td>
		</tr>
	</table>
</div>
<!--Pääpalkki alkaa-->
<div class="paapalkki">
	<h2>luettelointiohjelma</h2>
	<div class="vaakaviiva"></div>

	<div class="paapalkkiheader">

      <h3>Lisää kuva</h3>

    </div>

    <div class="paapalkkicontainer">

    <form action="/add_image" method="post" enctype="multipart/form-data">
      <p>
        Kuva: <input type="file" name="image" accept=".jpg" />
      </p>
      <input type="submit" value="Lähetä" />
    </form>
    </div>
</div>

</body>

</html>
