<!DOCTYPE html>
<html>

<head>
  <title>luettelointiohjelma</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!-- Kirjautumispalkki -->
<div id="login" class="popup">
  <table class="table">
    <tr>
      <td class="tdright">
        <a href="#" class="close">sulje</a>
      </td>
    </tr>
    <tr>
      <td>
        <p class="outset">&nbsp; kirjautuminen</p>
        <br>

        <form action="/login" method="post">
          <p>
            Tunnus:<br>
            <input type="text" name="username" class="inputlogin">
          </p>
          <p>
            Salasana:<br>
            <input type="password" name="password" class="inputlogin">
          </p>
          <p>
            <input type="submit" class="button" value="Kirjaudu">
          </p>
        </form>

      </td>
	</tr>
  </table>
</div>


<!-- Rekisteröitymispalkki -->
<div id="register" class="popup">
	<table class="table">
		<tr>
			<td class="tdright">
				<a href="#" class="close">sulje</a>
			</td>
		</tr>
		<tr>
			<td class="td">
				<p class="outset"> &nbsp; rekisteröidy
				</p>
				<br>
				<form action="/create" method="post" >
					<p>
						Tunnus: <br />
						<input type="text" name="username" class="inputlogin"/>
					</p>
					<p>
						Salasana: <br />
						<input type="password" name="password1" class="inputlogin" />
					</p>
					<p>
						Salasana uudestaan: <br />
						<input type="password" name="password2" class="inputlogin" />
					</p>
						<input type="submit" value="Luo tunnus" class="button" />
				</form>
			</td>
		</tr>
	</table>
</div>

<!-- Käyttäjä -->
<div class="kayttaja">
	{% if session.username %}
		<p class="outsetv">
			{{ session.username}} &nbsp;
		</p>
	{% endif %}
	{% if error %}
		<div class="error-box">
			<p class="error">
				{{ error }} &nbsp;
			</p>
		</div>
	{% endif %}
</div>

<!-- Hakukenttä -->
<div class="hakukentta">
	<form action="/" method="get">
		<input type="text" name="q" placeholder="Hae..." class="sendform"
			value="{{ request.args.get('q', '') }}">
		<input type="submit" value="Hae" class="button">
	</form>
</div>
<div class="linkit">
	<table class="table">
		<tr>
			<td class="td">
				<p class="outset">&nbsp; <a href="/"> etusivu</a>
				</p>
			</td>
			<td class="td">
				<p class="outset">&nbsp; <a href="/user/{{ session.user_id }}"> oma sivu</a>
				</p>
			</td>
				{% if session.username %}
			<td class="td">
					<p class="outset">&nbsp; <a href="/logout">kirjaudu ulos</a>
					</p>
			</td>
			<td>
			</td>
				{% else %}
			<td class="td">
					<p class="outset">&nbsp; <a href="/#login">kirjaudu</a>
					</p>
			</td>
			<td class="td">
					<p class="outset">&nbsp; <a href="/#register">rekisteröidy</a>
					</p>
			</td>

				{% endif %}
			</td>
		</tr>
	</table>
</div>

<!--Pääpalkki alkaa-->
<div class="paapalkki">
	<h2>luettelointiohjelma</h2>
	<div class="vaakaviiva">
	</div>

<!-- Hakutulokset-->
   	{% if request.args.get('q') and items %}

			<div class="hakutulokset">
         	{% for item in items %}
            	<div>
              		<p><strong>Omistaja: {{ item[1] }}</strong></p>
               	<table class="table">
               		<tr>
               			<th class="th">Esittäjä/Kirjailija/Muotoilija</th>
               			<th class="th">Nimi</th>
               			<th class="th">Vuosi</th>
               			<th class="th">Tyyppi</th>
               			<th class="th">Julkaisija</th>
               			<th class="th">Kunto</th>
               		</tr>
               		<tr>
               			<td class="td">{{ item[3] }}</td>   <!-- author 3 -->
								<td class="td">{{ item['title'] }}</td>   <!-- title 4-->
								<td class="td">{{ item['year'] }}</td>   <!-- year 6-->
								<td class="td">{{ item['ttyype'] }}</td>   <!-- ttyype 2-->
								<td class="td">{{ item['creator'] }}</td>   <!-- creator 5-->
								<td class="td">{{ item['condition'] }}</td>   <!-- condition 7 -->
							</tr>
						</table>
						<p>Esineen kuvaus: {{ item['content'] }}</p>
                 	</div>
         	{% endfor %}
         </div>
         <div class="vaakaviiva">
		</div>
     	{% else %}
     		<p></p>
		{% endif %}


<!--Muokkaa objektia-->
	<form action="/edit/{{ item[1] }}" method="post">
		<p>Tyyppi:*<br>
			<select name="ttyype" class="sendform">
    {% for val in ["Kirja", "Äänilevy", "Elokuva", "Esine"] %}
        <option value="{{ val }}" {% if item['ttyype'] == val %}selected{% endif %}>{{ val }}</option>
    {% endfor %}
</select>

		</p>

		<p>Valmistaja tai kustantaja:<br>
			<textarea name="creator" class="sendform" maxlength="50"> {{ item['creator'] }} </textarea>
		</p>

		<p>Tekijä:*<br>
			<textarea name="author" class="sendform" minlength="2" maxlength="50" required> {{ item['author'] }} </textarea>
		</p>

		<p>Nimi:*<br>
			<textarea name="title" class="sendform" minlength="2" maxlength="50" required> {{ item['title'] }} </textarea>
		</p>

		<p>Valmistusvuosi:<br>
			<textarea name="year" class="sendform" maxlength="8"> {{ item['year'] }} </textarea>
		</p>

		<p>Kunto:*<br>
			<select name="condition" class="sendform">
				{% for val in ["Erinomainen", "Hyvä", "Tyydyttävä", "Välttävä"] %}
					<option value="{{ val }}" {% if item['condition'] == val %}selected{% endif %}>{{ val }}</option>
				{% endfor %}
</select>

		<p>Esineen kuvaus:*<br>
			<textarea name="content" rows="10" cols="73" minlength="10" maxlength="1000" required> {{ item['content'] }} </textarea>
		</p>
		<p class="mini">Kuvaile esinettä mahdollisimman tarkasti 10-1000 sanalla</p>
		<p class="mini">* Merkityt kohdat ovat pakollisia</p>

		<input type="submit" class="button" value="Lähetä">
	</form>

</div>


<!--Pääpalkki loppuu-->



</body>

</html>
