<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!--Yläpalkki-->
<div class="ylapalkki">

<table>
	<tr>
		<td class="logoleveys">
			<h1 class="headerotsikko">Luettelointi</h1>
			<h1 class="headerotsikko">ohjelma</h1>
		</td>
		<td>
			<table class="ylhaalla">
				<tr>
					<td class="ylhaallaoikealla">
  						{% if session.username %}
  	
  							<p class="ptummatausta">
    							Olet kirjautunut nimellä {{ session.username }}
  							
  							</p>
  				
  							<p class="ptummatausta">
    							<a href="/logout">Kirjaudu ulos</a>
  							</p>
  						{% endif %}
	
  					</td>
  				</tr>
  				<tr>
  					<td class="alhaalla">
  					<p class="pleveateksti">
  					ETUSIVU | OMAT SIVUT
  					</p>
  					</td>
  				</tr>
  			</table>
  		</td>
  	</tr>
  </table>
  </div>
  <!--Yläpalkki loppuu-->
  
  <!--Vasen palkki alkaa-->
  
  <div class="vasenpalkki">
  </div>
  
  <!-- Vasen palkki loppuu-->
  
  <!--Pääpalkki alkaa-->
  <div class="paapalkki">
  {% if session.username %}
  <p>
  Uusimmat lisäykset luettelointiohjelmaan:
  </p>
  {% else %}
  <p class="keskella">
  <form action="/login" method="post" class="keskella"> 
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p class="keskella">
  Uusi käyttäjä? Luo tunnus <a href="{{ url_for('register') }}">täällä</a>
  </p>
  </p>
  {% endif %}
  </div>  
</body>

</html>