<!DOCTYPE html>
<html>

<head>
  <title>LuetteloX</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>


	<!-- Hakukenttä -->
		<div class="hakukentta">
			<form action="/" method="get">
				<input type="text" name="q" placeholder="Hae..." class="sendform"
                  value="{{ request.args.get('q', '') }}">
				<input type="submit" value="Hae" class="button">
			</form>
		</div>

		<div class="linkit">
			<table class="table">
				<tr>
					<td class="td"><a href="/">etusivu</a></td>
					<td class="td"><a href="/own">oma sivu</a></td>
					<td class="td"></td>
				</tr>
			</table>
		</div>
		<p class="logo">
		luettelox
		</p>
		
			{% if session.username %}
			<div class="kirjautuminen">
				<table class="table">
					<tr>
						<td class="tdwide">
							<br />
							<p>
								Olet kirjautunut nimellä {{ session.username}}
						
								<a href="/logout">Kirjaudu ulos</a>
							</p>
							<br />
						</td>
					</tr>
				</table>
			</div>
			{% else %}
			<div class="kirjautuminen">
			<table class="table">
				<tr>
					<td class="tdl">
									
					</td>
					<td class="td">
					<p>
						Uusi käyttäjä? Luo tunnus <a href="{{ url_for('register') }}">täällä</a>	
					</p>
					</td>
					<td class="tdl">
									
					</td>
					<td class="tdright">
						<form action="/login" method="post">
    						<p>
        						Tunnus:<br>
        						<input type="text" name="username" class="inputlogin">
    						</p>
    						<p>
        						Salasana:<br>
        						<input type="password" name="password" class="inputlogin">
    						</p>
    						<p>
        						<input type="submit" class="button" value="Kirjaudu">
    						</p>
						</form>		
					</td>
					<td class="tdl"></td>	
				</tr>
			</table>
			</div>
			{% endif %}

<!--Yläpalkki loppuu-->


<!--Pääpalkki alkaa-->
<div class="paapalkki">

<!-- Hakutulokset-->
   	{% if request.args.get('q') and items %}

			<div class="hakutulokset">
         	{% for item in items %}
            	<div>
              		<p><strong>Omistaja: {{ item[1] }}</strong></p>
               	<table class="table">
               		<tr>
               			<th class="th">Esittäjä/Kirjailija/Muotoilija</th>
               			<th class="th">Nimi</th>
               			<th class="th">Vuosi</th>
               			<th class="th">Tyyppi</th>
               			<th class="th">Julkaisija</th>
               			<th class="th">Kunto</th>
               		</tr>
               		<tr>
               			<td class="td">{{ item[3] }}</td>   <!-- author -->
								<td class="td">{{ item[4] }}</td>   <!-- title -->
								<td class="td">{{ item[6] }}</td>   <!-- year -->
								<td class="td">{{ item[2] }}</td>   <!-- ttyype -->
								<td class="td">{{ item[5] }}</td>   <!-- creator -->
								<td class="td">{{ item[7] }}</td>   <!-- condition -->
							</tr>
						</table>
						<p>Kommentti: {{ item[8] }}</p>
                 	</div>
         	{% endfor %}
         </div>
     	{% else %}
     		<p></p>
		{% endif %}


<!--5 viimeisintä esinettä-->
	<div class="paapalkkiheader">

		<h3>viisi viimeisintä</h3>

	</div>

	<div class="paapalkkicontainer">

    {% for item in items[-5:] %}
        <div>
            <p><strong>Omistaja: {{ item[1] }}</strong></p>
            <table class="table">
                <tr>
                    <th class="th"">Esittäjä/Kirjailija/Muotoilija</th>
                    <th class="th">Nimi</th>
                    <th class="th">Vuosi</th>
                    <th class="th">Tyyppi</th>
                    <th class="th">Julkaisija</th>
                    <th class="th">Kunto</th>
                </tr>
                <tr>
                    <td class="td">{{ item[3] }}</td>
                    <td class="td">{{ item[4] }}</td>
                    <td class="td">{{ item[6] }}</td>
                    <td class="td">{{ item[2] }}</td>
                    <td class="td">{{ item[5] }}</td>
                    <td class="td">{{ item[7] }}</td>
                </tr>
            </table>
            <p>Kommentti: {{ item[8] }}</p>

            {% if item.user_id == session.user_id %}
                <p>
                    <a href="/edit/{{ item.id }}">Muokkaa</a> |
                    <a href="/remove/{{ item.id }}">Poista</a>
                </p>
            {% endif %}
            <hr />
        </div>
    {% endfor %}
    </div>

    
	{% if session.username %}
	<!-- Lisää luetteloon -otsikko -->
   	<div class="paapalkkiheader">

		<h3>lisää luetteloon</h3>

	</div>

    <!-- Lisää luetteloon -lomake -->
      <div class="paapalkkicontainer">
      	<table class="table">
         	<tr>
            	<td>
               	<form action="/new_item" method="post">
                  	<p>Tyyppi:<br>
                     	<select name="ttyype" class="sendform">
                        	<option value="Kirja">Kirja</option>
                           <option value="Äänilevy">Äänilevy</option>
                           <option value="Elokuva">Elokuva</option>
                           <option value="Esine">Esine</option>
                        </select>
                     </p>

                     <p>Julkaisija/Kustantaja/Valmistaja:<br>
                     	<input type="text" name="creator" class="sendform">
                     </p>

                     <p>Esittäjä/Kirjailija/Suunnittelija:<br>
                     	<input type="text" name="author" class="sendform">
                    	</p>

                     <p>Nimi:<br>
                     	<input type="text" name="title" class="sendform">
                     </p>

                    	<p>Valmistusvuosi:<br>
                     	<input type="text" name="year" class="sendform">
                     </p>

                     <p>Kunto:<br>
                     	<input type="text" name="condition" class="sendform">
                     </p>

                    	<p>Huomioita:<br>
                     	<textarea name="content" rows="10" cols="73"></textarea>
                     </p>

                     <input type="submit" class="button" value="Lähetä">
                	</form>
            	</td>
        		</tr>
       	</table>
     	</div>
	{% endif %}


</div>


<!--Pääpalkki loppuu-->



</body>

</html>
