<!DOCTYPE html>
<html>
<head>
    <title>{{ item.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!-- Kirjautumispalkki -->
<div id="login" class="popup">
  <table class="table">
    <tr>
      <td class="tdright">
        <a href="#" class="close">sulje</a>
      </td>
    </tr>
    <tr>
      <td>
        <p class="outset">&nbsp; kirjautuminen</p>
        <br>

        <form action="/login" method="post">
          <p>
            Tunnus:<br>
            <input type="text" name="username" class="inputlogin">
          </p>
          <p>
            Salasana:<br>
            <input type="password" name="password" class="inputlogin">
          </p>
          <p>
            <input type="submit" class="button" value="Kirjaudu">
          </p>
			{% if next_page %}
				<input type="hidden" name="next_page" value="{{ next_page }}" />
			{% else %}
				<input type="hidden" name="next_page" value="/" />
			{% endif %}
        </form>

      </td>
	</tr>
  </table>
</div>


<!-- Rekisteröitymispalkki -->
<div id="register" class="popup">
	<table class="table">
		<tr>
			<td class="tdright">
				<a href="#" class="close">sulje</a>
			</td>
		</tr>
		<tr>
			<td class="td">
				<p class="outset"> &nbsp; rekisteröidy
				</p>
				<br>
				<form action="/create" method="post" >
					<p>
						Tunnus: <br />
						<input type="text" name="username" class="inputlogin" />
					</p>
					<p>
						Salasana: <br />
						<input type="password" name="password1" class="inputlogin" />
					</p>
					<p>
						Salasana uudestaan: <br />
						<input type="password" name="password2" class="inputlogin" />
					</p>
					<input type="submit" value="Luo tunnus" class="button"  >
					{% if next_page %}
						<input type="hidden" name="next_page" value="{{ next_page }}" />
					{% else %}
						<input type="hidden" name="next_page" value="/" />
					{% endif %}
				</form>
			</td>
		</tr>
	</table>
</div>

<!-- Käyttäjä -->
<div class="kayttaja">
	{% if session.username %}
		<p class="outsetv">
			{{ session.username}} &nbsp;
		</p>
	{% endif %}
	{% if error %}
		<div class="error-box">
			<p class="error">
				{{ error }} &nbsp;
			</p>
		</div>
	{% endif %}
	{% for message in get_flashed_messages() %}
	<div class="error-box">
		<p class="error">
		{{ message }} &nbsp;
		</p>
	</div>
  {% endfor %}
</div>

<!-- Linkit -->

<div class="linkit">
	<table class="table">
		<tr>
			<td class="td">
				<p class="outset">&nbsp; <a href="/"> etusivu</a>
				</p>
			</td>
				{% if session.username %}
			<td class="td">
				<p class="outset">&nbsp; <a href="/user/{{ session.user_id }}"> oma sivu</a>
				</p>
			</td>


			<td class="td">
			<p class="outset"> &nbsp;
				<a href="/new_item">lisää esine</a>
			</p>
			</td>

			<td class="td">
					<p class="outset">&nbsp; <a href="/logout">kirjaudu ulos</a>
					</p>
			</td>
			<td>
			</td>
				{% else %}
			<td class="td">
					<p class="outset">&nbsp; <a href="/#login">kirjaudu</a>
					</p>
			</td>
			<td class="td">
					<p class="outset">&nbsp; <a href="/#register">rekisteröidy</a>
					</p>
			</td>

				{% endif %}
			</td>
		</tr>
	</table>
</div>




<div class="paapalkki">
	<h2>luettelointiohjelma</h2>
		<div class="vaakaviiva"></div>

		<div class="paapalkkiheader">
			<div class="headerinnerborder">
				<p>
					<h3> {{ item.title }}</h3>
				</p>
			</div>
		</div>
	<div class="paapalkkicontainer">

    <table class="table">
        <tr>
            <th class="th">Tekijä</th>
            <td class="tditems">{{ item.author }}</td>
        </tr>
        <tr>
            <th class="th">Nimi</th>
            <td class="tditems">{{ item.title }}</td>
        </tr>
        <tr>
            <th class="th">Vuosi</th>
            <td class="tditems">{{ item.year }}</td>
        </tr>
        <tr>
            <th class="th">Tyyppi</th>
            <td class="tditems">{{ item.ttyype }}</td>
        </tr>
        <tr>
            <th class="th">Julkaisija</th>
            <td class="tditems">{{ item.creator }}</td>
        </tr>
        <tr>
            <th class="th">Kunto</th>
            <td class="tditems">{{ item.condition }}</td>
        </tr>
        <tr>
            <th class="th">Kuvaus</th>
			<td class="tditems">{{ item.content | show_lines }}
			</td>
        </tr>
        <tr>
            <th class="th">Lisätty</th>
            <td class="tditems">{{ item.sent_at }}</td>
        </tr>
        <tr>
			<th class="th"> &nbsp;</th>
			<td class="tditems">
			 {% if session.get("user_id") and item['user_id'] == session["user_id"] %}
				<p>
					<a href="/edit/{{ item['item_id'] }}">Muokkaa</a> |
					<a href="/remove/{{ item['item_id'] }}">Poista</a>
				</p>
			{% endif %}
			</td>
        </tr>
        <tr>
			<th class="th"><p>Kommentit</p></th>
			<td class="tditems">

				{% for c in comments %}
					<p><b>{{ c.username }}</b> ({{ c.sent_at }}):</p>
					<br />
					{{ c.content | show_lines }}
					<hr>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th class="th"></th>
			<td class="tditems">
				<p>
					<a href="/item/{{ item.item_id }}/comment">Lisää kommentti</a>
				</p>
			</td>
		</tr>

    </table>


    <div class="vaakaviiva"></div>

    <p><a href="/new_item">← Lisää toinen esine</a></p>
    </div>
</div>

</body>
</html>
