<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!--Yläpalkki-->
<div class="ylapalkki">

<table>
	<tr>
		<td class="logoleveys">
			<h1 class="headerotsikko">Luettelointi</h1>
			<h1 class="headerotsikko">ohjelma</h1>
		</td>
		<td>
			<table class="ylhaalla">
				<tr>
					<td class="ylhaallaoikealla">
  						{% if session.username %}
  	
  							<p class="ptummatausta">
    							Olet kirjautunut nimellä {{ session.username }}
  							
  							</p>
  				
  							<p class="ptummatausta">
    							<a href="/logout">Kirjaudu ulos</a>
  							</p>
  						{% endif %}
	
  					</td>
  				</tr>
  				<tr>
  					<td class="alhaalla">
  					<p class="pleveateksti">
  					ETUSIVU | OMAT SIVUT
  					</p>
  					</td>
  				</tr>
  			</table>
  		</td>
  	</tr>
  </table>
  </div>
  <!--Yläpalkki loppuu-->
  
  <!--Vasen palkki alkaa-->
  
  <div class="vasenpalkki">
  </div>
  
  <!-- Vasen palkki loppuu-->
  
  <!--Pääpalkki alkaa-->
  <div class="paapalkki">
  <hr />
  {% for list in lists %}
  <p>
    <a href="/list/{{ list.id }}">{{ list.title }}</a>
    <br />
    {{ list.total }} artikkelia, uusin {{ list.last }}
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi lista</h2>

  <form action="/new_list" method="post">
    <p>
      Tyyppi:<br />
      <input type="text" name="title" />
    </p>
    <p>
      Artikkeli:<br />
      <textarea name="content" rows="5" cols="40"></textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}
  </div>  
</body>

</html>