<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!--Yläpalkki-->
<div class="ylapalkki">

<table>
	<tr>
		<td class="logoleveys">
			<h1 class="headerotsikko">Luettelointi</h1>
			<h1 class="headerotsikko">ohjelma</h1>
		</td>
		<td>
			<table class="ylhaalla">
				<tr>
					<td class="ylhaallaoikealla">
  						{% if session.username %}
  	
  							<p class="ptummatausta">
    							Olet kirjautunut nimellä {{ session.username }}
  							
  							</p>
  				
  							<p class="ptummatausta">
    							<a href="/logout">Kirjaudu ulos</a>
  							</p>
  						{% endif %}
	
  					</td>
  				</tr>
  				<tr>
  					<td class="alhaalla">
  					<p class="pleveateksti">
  					ETUSIVU | OMAT SIVUT
  					</p>
  					</td>
  				</tr>
  			</table>
  		</td>
  	</tr>
  </table>
  </div>
  <!--Yläpalkki loppuu-->
  
  <!--Vasen palkki alkaa-->
  
  <div class="vasenpalkki">
  </div>
  
  <!-- Vasen palkki loppuu-->
  
  <!--Pääpalkki alkaa-->
  <div class="paapalkki">
  <h1>{{ list.title }}</h1>

  <hr />
  {% for item in items %}
  <p>
    {{ item.username }} ({{ item.sent_at }}):
  </p>
  <p>
    {{ item.content }}
  </p>
  {% if item.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ item.id }}">Muokkaa</a> |
    <a href="/remove/{{ item.id }}">Poista</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <form action="/new_list" method="post">
    <p>Nimi:<br /><textarea name="title" rows="1" cols="40"></textarea></p>
    <p>Vuosi:<br /><textarea name="year" rows="1" cols="40"></textarea></p>
    <p>Tyyppi:<br /><textarea name="type" rows="1" cols="40"></textarea></p>
    <p>Kunto:<br /><textarea name="condition" rows="1" cols="40"></textarea></p>
    <p>Huomioita:<br /><textarea name="content" rows="4" cols="40"></textarea></p>
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}

  </div>  
</body>

</html>