<!DOCTYPE html>
<html>
<head>
    <title>new item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!-- Kirjautumispalkki -->
<div id="login" class="popup">
  <table class="table">
    <tr>
      <td class="tdright">
        <a href="#" class="close">sulje</a>
      </td>
    </tr>
    <tr>
      <td>
        <p class="outset">&nbsp; kirjautuminen</p>
        <br>

        <form action="/login" method="post">
          <p>
            Tunnus:<br>
            <input type="text" name="username" class="inputlogin">
          </p>
          <p>
            Salasana:<br>
            <input type="password" name="password" class="inputlogin">
          </p>
          <p>
            <input type="submit" class="button" value="Kirjaudu">
          </p>
			{% if next_page %}
				<input type="hidden" name="next_page" value="{{ next_page }}" />
			{% else %}
				<input type="hidden" name="next_page" value="/" />
			{% endif %}
        </form>

      </td>
	</tr>
  </table>
</div>


<!-- Rekisteröitymispalkki -->
<div id="register" class="popup">
	<table class="table">
		<tr>
			<td class="tdright">
				<a href="#" class="close">sulje</a>
			</td>
		</tr>
		<tr>
			<td class="td">
				<p class="outset"> &nbsp; rekisteröidy
				</p>
				<br>
				<form action="/create" method="post" >
					<p>
						Tunnus: <br />
						<input type="text" name="username" class="inputlogin" />
					</p>
					<p>
						Salasana: <br />
						<input type="password" name="password1" class="inputlogin" />
					</p>
					<p>
						Salasana uudestaan: <br />
						<input type="password" name="password2" class="inputlogin" />
					</p>
					<input type="submit" value="Luo tunnus" class="button"  >
					{% if next_page %}
						<input type="hidden" name="next_page" value="{{ next_page }}" />
					{% else %}
						<input type="hidden" name="next_page" value="/" />
					{% endif %}
				</form>
			</td>
		</tr>
	</table>
</div>

<!-- Käyttäjä -->
<div class="kayttaja">
	{% if session.username %}
		<p class="outsetv">
			{{ session.username}} &nbsp;
		</p>
	{% endif %}
	{% if error %}
		<div class="error-box">
			<p class="error">
				{{ error }} &nbsp;
			</p>
		</div>
	{% endif %}
	{% for message in get_flashed_messages() %}
	<div class="error-box">
		<p class="error">
		{{ message }} &nbsp;
		</p>
	</div>
  {% endfor %}
</div>

<!-- Linkit -->

<div class="linkit">
	<table class="table">
		<tr>
			<td class="td">
				<p class="outset">&nbsp; <a href="/"> etusivu</a>
				</p>
			</td>
				{% if session.username %}
			<td class="td">
				<p class="outset">&nbsp; <a href="/user/{{ session.user_id }}"> oma sivu</a>
				</p>
			</td>


			<td class="td">
			<p class="outset"> &nbsp;
				<a href="/new_item">lisää esine</a>
			</p>
			</td>

			<td class="td">
					<p class="outset">&nbsp; <a href="/logout">kirjaudu ulos</a>
					</p>
			</td>
			<td>
			</td>
				{% else %}
			<td class="td">
					<p class="outset">&nbsp; <a href="/#login">kirjaudu</a>
					</p>
			</td>
			<td class="td">
					<p class="outset">&nbsp; <a href="/#register">rekisteröidy</a>
					</p>
			</td>

				{% endif %}
			</td>
		</tr>
	</table>
</div>




<div class="paapalkki">
	<h2>luettelointiohjelma</h2>
		<div class="vaakaviiva"></div>

<div>
{% if session.username %}
	<!-- Lisää luetteloon -otsikko -->
   	<div class="paapalkkiheader">
		<h3>lisää luetteloon</h3>
	</div>
    <!-- Lisää luetteloon -lomake -->
      <div class="paapalkkicontainer">
      	<table class="table">
			<tr>
            	<td>
               	<form action="/new_item" method="post">
                  	<p>Tyyppi:*<br>
                     	<select name="ttyype" class="sendform" required>
							<option value="" disabled selected hidden>(Valitse)</option>
							<option value="Kirja">Kirja</option>
							<option value="Äänilevy">Äänilevy</option>
							<option value="Elokuva">Elokuva</option>
							<option value="Esine">Esine</option>
                        </select>
                     </p>

                     <p>Valmistaja tai kustantaja:<br>
                     	<input type="text" name="creator" maxlength="50" class="sendform">
                     </p>

                     <p>Tekijä:*<br>
                     	<input type="text" name="author" minlength="2" maxlength="50" class="sendform" required>
                    	</p>

                     <p>Nimi:*<br>
                     	<input type="text" name="title" minlength="2" maxlength="50" class="sendform" required>
                     </p>

                    	<p>Valmistusvuosi:<br>
                     	<input type="text" name="year" maxlength="8" class="sendform">
                     </p>

                     <p>Kunto:*<br>
                     	<select name="condition" class="sendform" required>
							<option value="" disabled selected hidden>(Valitse)</option>
							<option value="Erinomainen">Erinomainen</option>
							<option value="Hyvä">Hyvä</option>
							<option value="Tyydyttävä">Tyydyttävä</option>
							<option value="Välttävä">Välttävä</option>
                        </select>
                     </p>

                    	<p>Esineen kuvaus:*<br>
                     	<textarea name="content" rows="10" cols="73" minlength="10" maxlength="1000" required></textarea>
                     </p>
					<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
					<p class="mini">Kuvaile esinettä mahdollisimman tarkasti 10-1000 sanalla</p>
					<p class="mini">* Merkityt kohdat ovat pakollisia</p>
                     <input type="submit" class="button" value="Lähetä">
                	</form>


            	</td>
        		</tr>
       	</table>
     	</div>
		</div>
	{% endif %}
</div>

</div>

</body>
</html>
